<!DOCTYPE html>
<html>
  <head>
    <title>[Redacted]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css'>
    <link href="bootstrap/css/style.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <div class="row" style="padding-top:100px">
      <div class="col-md-3"></div>
      <div class="col-md-6" style="text-align: center; padding:20px; color:black">
        <p style="font-size:50px; color:white"><strong>[REDACTED]</strong></p>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" id="parent" style="text-align: center; background-color:white; padding-top:20px; color:black">
        <div class="form-control" id="underlay"></div>
        <div class="form-control" name="styled-textarea" id="styled" contenteditable="true" data-placeholder="Enter your text here" ></div>
        <br>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div id="foot">© Siliconpimps MMXIII</div>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>