<!DOCTYPE html>
<html lang="en"><head>


    <meta charset="utf-8">
    <title>[Redacted]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/docs.css" rel="stylesheet">
	<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
	<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css">

	<link href="../public/stylesheets/style.css" rel="stylesheet">
	
	  </head>
    <body>

	<div class="box">
		<div id="main">
			<h1>[Redacted]</h1>
			<p></p>
				<form>
					<textarea style="width:91%; max-width:91%;" rows="4" id="textarea" placeholder="enter text"></textarea>
					</br></br>
					<button type="button" class="btn btn-danger">[redact]</button>
				</form>
		</div>
		<div id="text" hidden>
			<h1>[Redacted]</h1>
			</br>
			<p id="redacted">Redacted twitter text</p>
			</br>
			<form>
				<button type="button" class="btn btn-primary">retry</button>
			</form>
		</div>
		
	</div>
	
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	</body>
</html>