<!DOCTYPE html>
<html lang="en"><head>


    <meta charset="utf-8">
    <title>[Redacted]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

	<link href="./style.css" rel="stylesheet">
	
	  </head>
    <body>

	<div class="box">
		<h1>[Redacted]</h1>
		<p></p>
			<form>
				<span><textarea style="width:91%" rows="4" id="textarea">Enter Text</textarea></span>
				<button type="button" class="btn btn-primary btn-lg" id="button">Large button</button>
			</form>
			<br class="clr">
	</div>
	</body>
</html>